<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор элемента и даты</title>
</head>
<body>
    <h1>Выберите билет и дату:</h1>

    <form action="/" method="post">
        <label for="ticket">Выберите билет:</label>
        <select id="ticket" name="ticket">
            {% for item in tickets %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>

        <label for="start_date">Дата начала:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}" min="{{ default_start_date}}" max="{{ default_end_date}}">

        <label for="end_date">Дата конца:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}" min="{{ default_start_date}}" max="{{ default_end_date}}">

        <input type="submit" value="Подтвердить">
    </form>

    {% if selected_ticket %}
        <p>Вы выбрали билет: {{ selected_ticket }}</p>
    {% endif %}
    
    {% if selected_start_date and selected_end_date %}
        <p>Вы выбрали даты с {{ selected_start_date }} по {{ selected_end_date }}</p>
    {% endif %}
</body>
</html>
